/** navbar styles */
.navbar-main-container {
  background-color: rgba(33, 33, 33, 80%);
  border-radius: 11px;
  padding: 6px;
  max-width: fit-content;

  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.navbar-sub-container {
  display: flex;
  background-color: var(--gray);
  border-radius: 12px;
  padding: 5px;
}
.navbar-icon {
  border: 2px solid #4e4e4e;
  border-radius: 12px;
  margin: 0 1.5px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nb-a {
  border: none;
}
.nb-a p {
  font-size: 3rem;
  font-family: rouge script;
}
.nb-b1,
.nb-b1 a {
  background-color: var(--blue);
  color: var(--font);
}

/*! main container one styles */

.main-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 10vh;
}
.sub-c1a {
  margin-left: 2.5vw;
}
.sw-1 {
  margin-right: 2.5vw;
}

/*! main container two styles */

.main-container-2 {
  color: var(--background);
  margin: 0 2vw 11vh;
  /* br, tl, tr, bl*/
  text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black,
    -2px 2px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sub-c2 {
  position: absolute;
  bottom: 10vw;
  left: 2vw;
}

/*! main container three styles */
.main-container-3 {
  margin: 0 2vw 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

/*! This effects the containers*/
.sub-c3 {
  background-color: #354555;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: 80vh;
  flex: 0 0 48%;
  display: flex;
  color: var(--white);
}
/** This is needed to maintain the 2 by 2 for some reason */
.sub-c3a {
  padding: 3vh 3vh 12vh;
}
.inner-sub-c3 img {
  margin-top: 2vw;
}
/*! ENDS HERE*/

.c3-image {
  height: 60%;
}
.inner-sub-c3 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inner-sub-c3a {
  height: 100%;
  position: relative;
}
.inner-sub-c3a p {
  cursor: pointer;
}

/*! MAIN CONTAINER FOUR STYLES */
.main-container-4 {
  display: flex;
  margin: 0 0 10vh;
}

/*! FOOTER SECTION */
.info-container {
  margin: 0 2vw;
}
.info-container-1 h1 {
  font-size: clamp(8rem, 18vw, 20rem);
  font-family: "Times New Roman";
  margin-left: 2vw;
}
.info-container-ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-bottom: 4px;
}
.ul-a {
  color: var(--font);
  margin: 0 min(2vw, 3rem);
  position: relative;
}

/*! Misc*/

.line {
  border: 1px solid var(--orange);
  width: 80vw;
  margin: auto;
}
.v-line {
  border-left: 2px solid var(--white);
  height: 15vh;
  margin: 0 1vw;
}

.bottom-wrapper {
  background-image: radial-gradient(
      circle at 13% 47%,
      rgba(140, 140, 140, 0.03) 0%,
      rgba(140, 140, 140, 0.03) 25%,
      transparent 25%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 63%,
      rgba(143, 143, 143, 0.03) 0%,
      rgba(143, 143, 143, 0.03) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 56%,
      rgb(241, 239, 231) 0%,
      rgb(241, 239, 231) 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 48%,
      rgb(241, 239, 231) 0%,
      rgb(241, 239, 231) 6%,
      transparent 6%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 17%,
      rgba(150, 150, 150, 0.03) 0%,
      rgba(150, 150, 150, 0.03) 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(25, 25, 25, 0.03) 0%,
      rgba(25, 25, 25, 0.03) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 52%,
      rgb(241, 239, 231) 0%,
      rgb(241, 239, 231) 6%,
      transparent 6%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(241, 239, 231), rgb(241, 239, 231));
  width: 100%;
  position: relative;
}

.highlight {
  color: #95a8ac;
  font-size: clamp(5rem, 15vw, 15rem);
}
.pop-up {
  background-color: var(--white);
  border: 2px solid var(--black);
  box-shadow: 5px 5px 10px 2px rgb(12 4 4 /0.1);
  border-radius: 15px;
  width: 80vw;
  padding: 2vw 2vw;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: none;
}
.return {
  height: 5vw;
  width: auto;
  position: absolute;
  right: 4vw;
  bottom: 3vw;
}
.next-icon {
  display: inline-block;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  padding: 10px;
  transform: rotate(-45deg);
  margin: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 2vw;
  right: 2vw;
}

.item-highlight {
  font-size: inherit;
  color: #57aba4;
}
/*! CARD STACK */
.cards-stack {
  /** adjusted when adding new cards (50)  */
  height: 350vh;
  display: flex;

  position: relative;
}
.stack-left {
  height: 50vh;
  width: max-content;
  position: sticky;
  top: 25%;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
  flex-basis: 44%;
}
#stack-left-link {
  color: var(--black);
  font-size: inherit;
  font-weight: 700;
}
.stack-right {
  height: 50vh;
  width: max-content;
  position: sticky;
  top: 25%;
  flex-basis: 68%;
}

.cards {
  height: 350px;
  width: 350px;
  border-radius: 25px;
  font-size: clamp(12px, 20vh, 5rem);
  font-weight: 700;

  transition: 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
}
.remove {
  transform-origin: bottom left;
}
.cards:nth-child(1) {
  background-color: #e44d26;
  color: var(--white);
}
.cards:nth-child(2) {
  background-color: rebeccapurple;
  color: var(--white);
}
.cards:nth-child(3) {
  background-color: #f0db4f;
}
.cards:nth-child(4) {
  background-color: #3776ab;
  color: #ffd43b;
}
.cards:nth-child(5) {
  background-color: #333;
  color: var(--white);
}
.cards:nth-child(6) {
  background-color: #f05032;
}

/*! SLIDER  */
.slider {
  height: 20rem;
  width: 100;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.slider-item {
  width: max-content;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 100%;
  animation: auto-slide 15s linear infinite;
  animation-delay: calc((15s / 2) * (var(--position) - 1));
}

/* defining width would fix clipping issues  */
