/** navbar styles */
.navbar-main-container {
  background-color: rgba(33, 33, 33, 80%);
  border-radius: 11px;
  padding: 6px;
  max-width: fit-content;

  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.navbar-sub-container {
  display: flex;
  background-color: var(--gray);
  border-radius: 12px;
  padding: 5px;
}
.navbar-icon {
  border: 1px solid #4e4e4e;
  border-radius: 12px;
  margin: 0 1.5px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nb-a {
  border: none;
}
.nb-a p {
  font-size: 3rem;
  font-family: rouge script;
}
.nb-b1,
.nb-b1 a {
  background-color: var(--blue);
  color: var(--font);
}

/* main container one styles */

.main-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10vh;
}
.sub-c1a {
  margin-left: 2.5vw;
}
.sw-1 {
  margin-right: 2.5vw;
}

/* main container two styles */

.main-container-2 {
  color: var(--background);
  margin: 0 3vw 10vh;
  /* br, tl, tr, bl*/
  text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black,
    -2px 2px 0px black;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sub-c2 {
  position: absolute;
}

/** main container three styles */

.main-container-3 {
  margin: 0 2vw 10vh;
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

/*! This effects the containers*/
.sub-c3 {
  background-color: var(--black);
  border-radius: 11px;
  text-align: center;
  width: 100%;
  height: 80vh;
  flex: 0 0 48%;
  display: flex;
  color: var(--white);
}
/** This is needed to maintain the 2 by 2 for some reason */
.sub-c3a {
  padding: 3vh 3vh 12vh;
}
/*!This effects the containers*/

.c3-image {
  height: 60%;
}
.inner-sub-c3 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inner-sub-c3a {
  height: 100%;
}
.inner-sub-c3a p {
  cursor: pointer;
}

/** info container */

.info-container-1 h1 {
  font-size: clamp(8rem, 18vw, 20rem);
  font-family: "Times New Roman";
}
.info-container-ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-bottom: 4px;
}
.ul-a {
  color: var(--font);
  margin: 0 min(2vw, 3rem);
  position: relative;
}

/** Misc*/

.line {
  border: 1px solid var(--orange);
  width: 80vw;
  margin: auto;
}
.v-line {
  border-left: 2px solid var(--white);
  height: 15vh;
  margin: 0 1vw;
}

.bottom-wrapper {
  background-color: var(--background);
  width: 100vw;
}

.highlight {
  color: #95a8ac;
  font-size: clamp(5rem, 15vw, 15rem);
}
.pop-up {
  background-color: var(--white);
  border: 2px solid var(--black);
  box-shadow: 5px 5px 10px 2px rgb(12 4 4 /0.1);
  border-radius: 12px;
  width: 80vw;
  padding: 4vw 5vw;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: none;
}
.return {
  height: 5vw;
  width: auto;
  position: absolute;
  right: 4vw;
  bottom: 3vw;
}
