.nav-div-container {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.nav-div-subcontainer {
  display: flex;
}
.burger-menu {
  height: inherit;
  width: auto;
  margin-right: 1.5rem;
}
.burger-filter {
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
.burger-menu:hover {
  cursor: pointer;
}

.nav-toggle {
  display: none;
}
.nav-background {
  background-color: var(--accent);
  backdrop-filter: blur(6px);
}

.name {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2vw;
}
.name p {
  font-size: 3rem;
  font-family: rouge script;
}
.main-container-1 {
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 28px 4rem;
  margin-bottom: 8vh;
}
.intro-div {
  display: flex;
  flex-wrap: wrap;
  max-width: 28vw;
  max-height: 26vh;
}
.wel-div-span {
  font-size: 3rem;
}

.main-container-2 {
  padding: 40vh 28px 1.5rem 28px;
  background-image: url("images/container-2.jpg");
  animation: fade-in ease 3.5s;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container-2 h1,
.main-container-2 span {
  color: var(--main);
  font-weight: bolder;
  -webkit-text-stroke: 0.5px var(--font);
}
.about-sub-span {
  font-size: 2.5rem;
}
.connect h1 {
  font-size: 25rem;
  padding-left: 5rem;
}

.ul-contacts {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: -3rem;
}
.ul-contacts a:hover {
  color: var(--font);
}

.main-container-3 {
  padding: 5vh 0;
  margin: 15rem 0 15rem;
}
.container-box {
  margin: 15vh 5vw;
  height: 70rem;
  background-color: var(--card);
  border-radius: 2rem;
  box-shadow: 5px 5px 10px 2px rgb(12 4 4 /0.1);
  display: flex;
  flex-direction: column;
}
.sub-container-3-box {
  display: flex;
  height: 100%;
}
.container-3-h3 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}
.project-container-info {
  margin: 0 auto;
}
.project-container-info p {
  font-size: 3rem;
  text-align: left;
  max-width: 52rem;
  cursor: pointer;
}

.highlight {
  color: var(--accent);
  font-size: 100%;
}

.bullet-points {
  max-width: 52rem;
  padding-left: 5vw;
}
.points {
  font-size: 3rem;
  padding-bottom: 2.5rem;
}
.h3-appended {
  margin-bottom: 5rem;
}
