@media only screen and (min-width: 1920px) {
  nav {
    margin-right: 3rem;
  }
  a,
  .name p {
    margin: auto 3rem;
    font-size: 4rem;
  }
  .intro-div {
    max-width: 30vw;
  }
  .wel-h1-span {
    font-size: 20vh;
    margin-left: 3rem;
  }
  .wel-div-span {
    font-size: 4rem;
  }
  .main-container-2 {
    margin-top: 5rem;
    padding-top: 65vh;
    padding-bottom: 1vh;
  }
  .main-container-2 h1 {
    font-size: 10rem;
  }
  .h2-container {
    padding: 10rem 0 0 3.5rem;
  }
  .about-sub-span {
    font-weight: bold;
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1201px) {
  .main-container-1 {
    display: flex;
  }
}
@media only screen and (max-width: 1200px) {
  .main-container-1 {
    height: 35vh;
  }
  .wel-h1-span {
    font-size: 10vh;
  }
  .wel-div-span {
    font-size: 3rem;
  }
  .h2-container h2 {
    font-size: 10vh;
    display: inline;
    margin-right: 2rem;
  }
  .intro-div {
    max-height: 10vh;
    max-width: 80rem;
    margin-top: 2.5rem;
  }
  .main-container-2 {
    padding-top: 25vh;
    padding-bottom: 5vh;
  }
  .connect h1 {
    font-size: 20rem;
  }
}

.fade-in {
  animation: fade-in 1.2s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* SCROLL ANIMATIONS */

.auto-show {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
