/**  FADE ANIMATION  */
.fade-in {
  animation: fadeInAnimation 1.2s ease-in forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/** SCROLL ANIMATIONS */
.auto-show {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/** HOVER ANIMATIONS */
.nb-b:hover {
  border: 1px solid white;
  /* todo DO the cirle animation  */
}

/** AFTER EFFECTS */
.ul-a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;

  animation: fadeInAnimation 0.35s ease-in forwards;
  background-image: linear-gradient(151deg, #faaca8 10%, #ddd6f3 90%);
  border-radius: 12px;
}

/** media for small phones*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /** NAVBAR STYLES */
  .navbar-icon {
    margin: 0 1.5px;
    padding: 5px;
  }
  nav a {
    font-size: 1.5rem;
  }

  .main-container-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .sw-1 {
    display: inline-block;

    margin: 5vw 0 0 5vw;
  }

  /** CONTAINER THREE*/
  .main-container-3 {
    flex-direction: column;
    gap: 10vw;
  }
  .sub-c3a {
    height: 110rem;
    padding: 0;
  }
  .inner-sub-c3a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*! Can't fit this on mobile bruh*/
  .inner-sub-c3 img {
    display: none;
  }
  .v-line {
    display: none;
  }
}

/* media for small phones*/
