:root {
  --font: #0c0404;
  --green: #e5e1ce;
  --background: #f1efe7;
  --orange: #dcb482;
  --blue: #00aed9;
  --black: #222;
  --white: #f8f8f8;
  --gray: #3e3e3e;
  --translucent-black: rgba(33, 33, 33, 80%);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Apercu Pro", sans-serif;
  cursor: default;
}

body {
  background-color: var(--green);
  color: var(--font);
}
main {
  margin-top: 10vh;
}
h1 {
  font-size: clamp(5rem, 15vw, 15rem);
  width: max-content;
}
h2 {
  font-size: clamp(3rem, 10vw, 12rem);
}
h3 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}
span {
  font-size: min(clamp(1rem, 4vw, 2rem), 8vw);
}
p {
  font-size: 2rem;
}
a {
  font-size: clamp(1.5rem, 8vh, 2.5rem);
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  color: var(--background);
}
nav {
  display: flex;
  color: var(--background);

  background-color: var(--translucent-black);
  border-radius: 11px;
  padding: 6px;
  max-width: fit-content;

  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
iframe {
  border: 2px solid var(--black);
  border-radius: 12px;
  width: 95%;
  height: 90%;
  margin: auto;
}
textarea {
  resize: none;
  max-width: 590px;
  min-width: 200px;
  width: 50vw;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.9rem;
  border-radius: 14px;
  padding: 2vw;
  border: none;
}
