:root {
  --main: #f5ece5;
  --accent: #1c776d98;
  --font: #0c0404;
}
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--font);
  cursor: default;
}
body {
  background-color: var(--main);
}
main {
  margin-top: 90px;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 15vh;
}
h3 {
  font-size: 4rem;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
}
a {
  height: 5rem;
  font-size: 3rem;
  text-decoration: none;
  margin: auto 1.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
a:hover {
  color: var(--main);
}
img {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 1920px) {
  nav {
    margin-right: 3rem;
  }
  a,
  .name p {
    margin: auto 3rem;
    font-size: 4rem;
  }
  .intro-div {
    max-width: 30vw;
  }
  .wel-h1-span {
    font-size: 20vh;
    margin-left: 3rem;
  }
  .wel-div-span {
    font-size: 4rem;
  }
  .main-container-2 {
    margin-top: 5rem;
    padding-top: 65vh;
    padding-bottom: 1vh;
  }
  .main-container-2 h1 {
    color: var(--accent);
    font-weight: bold;
    font-size: 10rem;
  }
  .about-sub-span {
    font-weight: bold;
    font-size: 6rem;
  }
}
@media only screen and (max-width: 1200px) {
  .main-container-1 {
    height: 60vh;
    align-items: start;
  }
  .wel-h1-span {
    font-size: 10vh;
  }
  .wel-div-span {
    font-size: 3rem;
  }
  .intro-div {
    justify-content: left;
    max-height: 15vh;
    max-width: 80rem;
    padding-top: 10px;
    margin-top: 400px;
    position: absolute;
  }
  .main-container-2 {
    padding-top: 15vh;
    padding-bottom: 2vh;
  }
  .connect h1 {
    font-size: 20rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
